.soon {
    background: linear-gradient(#525252, #131313);
    min-height: 50vh;
    position: relative;
    z-index: -1;
    img,
    .circle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .circle {
        z-index: -1;
    }
}
